{% extends 'base.html.twig' %}

{% block title %}A propos - Bank{% endblock %}

{% block body %}
    <div class="mt-8">
        <p>Bank, votre banque de proximité.</p>
        <p>Depuis 1989, Bank met tout en oeuvre pour assurer un service de qualité pour nos client.</p>
        <p>Notre priorité : vous satisfaire avec nos offres uniques et nos conseillers à votre écoute.</p>
    </div>
    <div class="mt-8">
        <p>Bank, c'est :</p>
        <ul>
            <li>Une banque à l'écoute de ses clients</li>
            <li>Des offres adaptées à vos besoins</li>
            <li>Un service client disponible 24/7</li>
        </ul>
    </div>
{% endblock %}
