{% extends 'base.html.twig' %}

{% block title %}A propos - Bank{% endblock %}

{% block body %}
    <div>
        <p>Bank, votre banque de proximité.</p>
        <p>Depuis 1989, Bank met tout en oeuvre pour assurer un service de qualité pour nos client.</p>
        <p>Notre priorité : vous satisfaire avec nos offres uniques et nos conseillers à votre écoute.</p>
    </div>
{% endblock %}
