{% extends 'base.html.twig' %}

{% block title %}Clients - Bank Admin{% endblock %}

{% block body %}
    <div>
        <p>{{ client.id }}</p>
        <p>{{ client.email }}</p>
    </div>
{% endblock %}
