{% extends 'base.html.twig' %}

{% block title %}Hello ClientsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    {% for client in clients %}
        <div>
            <p>ID: {{ client.id }}</p>
            <p>E-mail: {{ client.email }}</p>
            <p>Password: {{ client.password }}</p>
        <div>
    {% endfor %}
</div>
{% endblock %}
