{% extends 'base.html.twig' %}

{% block title %}Clients - Bank Admin{% endblock %}

{% block body %}
    <p class="text-2xl font-bold mb-4">Clients</p>
    <div>
        {% for client in clients %}
            <div class="mt-5 p-5 bg-gray-200 rounded-lg shadow">
                <p class="text-lg font-semibold text-gray-700">
                    ID: <span class="text-blue-500">{{ client.id }}</span>
                </p>
                <p class="text-lg font-semibold text-gray-700">
                    E-mail: <span class="text-blue-500">{{ client.email }}</span>
                </p>
                <a href="{{ path('app_clients_remove', { id: client.id }) }}" class="text-red-500">Supprimer</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
