{% extends 'base.html.twig' %}

{% block title %}Contact - Bank{% endblock %}

{% block body %}
    <div>
        <p>Pour toute demande liés a des questions à Bank, veuillez appeller notre service client disponible toute la semaine.</p>
        <p>Concernant les modalités et informations liées a votre contrat, veuillez vous connecter dans votre espace personnel et joindre votre conseiller dédié.</p>
    </div>
{% endblock %}
