{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <p>Pour toute demande liés a des questions à Bank, veuillez appeller notre service client disponible toute la semaine.</p>
    <p>Concernant les modalités et informations liées a votre contrat, veuillez vous connecter dans votre espace personnel et joindre votre conseiller dédié.</p>
</div>
{% endblock %}
