{% extends 'base.html.twig' %}

{% block title %}Clients - Bank Admin{% endblock %}

{% block body %}
    <div>
        <p>{{ account.id }}</p>
        <p>{{ account.balance }}</p>
    </div>
{% endblock %}
