{% extends 'base.html.twig' %}

{% block title %}Hello AccountsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    {% for account in accounts %}
        <div>
            <p>ID: {{ account.id }}</p>
            <p>Account Type: {{ account.accountType }}</p>
            <p>Balance: {{ account.balance }}</p>
            <p>Account Number: {{ account.accountNumber }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
