{% extends 'base.html.twig' %}

{% block title %}Hello AccountsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <ul>
        {% for account in accounts %}
            <li>
                <strong>ID:</strong> {{ account.id }}<br>
                <strong>Account Type:</strong> {{ account.accountType }}<br>
                <strong>Balance:</strong> {{ account.balance }}<br>
                <strong>Account Number:</strong> {{ account.accountNumber }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
