{% extends 'base.html.twig' %}

{% block title %}Hello AccountsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    {% for account in accounts %}
        <div  class="p-4 bg-gray-100 rounded-lg shadow-md">
            <p class="text-lg font-semibold text-gray-700">
                ID: <span class="text-blue-500">{{ account.id }}</span>
            </p>
            <p class="text-lg font-semibold text-gray-700">
                Account Type: <span class="text-blue-500">{{ account.accountType }}</span>
            </p>
            <p class="text-lg font-semibold text-gray-700">
                Balance: <span class="text-blue-500">{{ account.balance }}</span>
            </p>
            <p class="text-lg font-semibold text-gray-700">
                Account Number: <span class="text-blue-500">{{ account.accountNumber }}</span>
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}
